# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.idea

# next.js
/next-app/.next/
/next-app/out/
/next-app.env.local
/next-app.env.development.local
/next-app.env.test.local
/next-app.env.production.local

# ui lib
/ui-lib/dist
/ui-lib/node_modules
